body {
	color: blue;
	font-family: Helvetica, Arial, Tahoma;
	font-size: 20px
}

h1 {color: green; font-family: Verdana; font-size: 21px;}h2{color:red;font-family: Tahoma; font-size:25px;}
h3 {color: brown; font-family: Arial; font-size:30px;}