body {
	margin:0;
	padding:0;
}


.cabecera {
	background-color: red;
	height: 300px
}

.cabecera header {
	width:1280px;
	height: 300px;
	background-color: blue;
	margin-left: auto;
	margin-right: auto;
}

.cuerpo {
	background-color: green;
	height: 600px;
}

.cuerpo main {
	width:1280px;
	height: 600px;
	background-color: pink;
	margin-left: auto;
	margin-right: auto;
}

.pie {
	background-color: yellow;
	height: 200px;
}

.pie footer {
	width:1280px;
	height: 200px;
	background-color: navy;
	margin-left: auto;
	margin-right: auto;
}