body {
	margin:0;
	padding:0;
}


.cabecera {
	background-color: red;
}

.cabecera header {
	width:1280px;
	background-color: blue;
	margin-left: auto;
	margin-right: auto;
	overflow: hidden;
	font-size:0;
}

.cabecera header .logo {
	float:left;
}

.cabecera header .redes-menu {
	float: right;
	width:807px;
	background-color: brown;
}

.cabecera header .redes-menu .redes {
	text-align: right;
} 


















.cuerpo {
	background-color: green;
	height: 600px;
}

.cuerpo main {
	width:1280px;
	height: 600px;
	background-color: pink;
	margin-left: auto;
	margin-right: auto;
}

.pie {
	background-color: yellow;
	height: 200px;
}

.pie footer {
	width:1280px;
	height: 200px;
	background-color: navy;
	margin-left: auto;
	margin-right: auto;
}